$blue: #02b6ff;
$pink: #FF1493;
$textColor: white;
$green: #2dd4bf;
$red: #dc2626;
$yellow: yellow;
$roboto: 'Roboto', sans-serif;
$gray: #f1f5f9;

* {
    font-family: $roboto;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.content {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 6rem 1fr;
    grid-template-columns: 20rem 1fr;
    overflow-x: hidden;
}