.container {
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 8px;
    .add-btn {
        border: none;
        background-color: $green;
        color: white;
        font-size: 16px;
        padding: 4px;
        border-radius: 8px;
        width: 15%;
        border: 2px solid $green;
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        gap: 4px;
        &:hover {
            background: white;
            color: $green;
        }
        .plus {
            font-size: 24px;
        }
    }
    h1 {
        border-bottom: 3px solid black;
        margin-bottom: 12px;
    }
    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        gap: 8px;
        overflow: auto;
    }
    li {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.5rem;
        background-color: $gray;
        .actions {
            display: flex;
            gap: 8px;
            span[class^="material"] {
                cursor: pointer;
            }
        }
    }
}

.edit:hover {
    color: $blue;
}

.delete:hover {
    color: $red;
}

.priority-low {
    border-left: 6px solid $green;
}

.priority-medium {
    border-left: 6px solid $yellow;
}

.priority-high {
    border-left: 6px solid $red;
}

.checkbox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid black;
    box-sizing: border-box;
}

.completed {
    .checkbox {
        // background-color: $green;
        background-image: url(../assets/check-mark.png);
        background-position: 50% 50%;
        background-size: 22px;
        background-repeat: no-repeat;
        // border: none;
    }
    p {
        text-decoration: line-through;
    }
}

.task {
    display: flex;
    gap: 4px;
    align-items: center;
    p {
        font-size: 16px;
    }
}
