nav {
    background: #f7f7f7;
    display: flex;
    flex-direction: column;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    justify-content: space-between;
    padding: 2rem;
}

.nav {
    font-size: 2rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
    li:not(:last-child) {
        display: flex;
        align-items: center;
        cursor: pointer;
        gap: 6px;
    }
}

.projects-title {
    display: flex;
    align-items: center;
    gap: 6px;
}

.projects {
    margin-top: 1rem;
    margin-left: 2rem;
    max-height: 15rem;
    overflow-y: auto;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 6px;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: $blue;
        border-radius: 5px;
    }
}

#add-project-btn {
    background-color: $green;
    border: none;
    color: white;
    padding: 4px 0;
    font-size: 16px;
    &:hover {
        background-color: white;
        color: $green;
    }
}

.active {
    color: $green;
}